<div>
	<p><button type="button" class="px2-btn px2-btn--primary" data-btn-create-new-article="{{ blog_id }}">新規記事を追加</button></p>
</div>
<div class="px2-p">
	<table class="px2-table" style="width: 100%;">
		<tr>
		<th>ブログID</th>
		<td>{{ blog_id }}</td>
		</tr>
	</table>
</div>
<div class="px2-p">
	<table class="px2-table" style="width: 100%;">
{% for key,row in article_list[blog_id] %}
		<tr>
		<td>{{ row.title }}</td>
		<td>{{ row.update_date }}</td>
		<td style="text-align: center;">
			<button type="button" class="px2-btn px2-btn--primary" data-btn-article="{{ row.path }}">詳細</button>
		</td>
		</tr>
{% endfor %}
	</table>
</div>
<p class="px2-text-align-right"><button type="button" class="px2-btn px2-btn--danger" data-delete-blog="{{ blog_id }}">ブログ {{ blog_id }} を削除する</button></p>
<p><button type="button" class="px2-btn" data-back>戻る</button></p>
